.form-main-container{
    display: flex;
    flex-direction: row;
    width: 95%;
    flex-wrap: wrap;
    padding: 10px;
}
.hello-container{
    display: block;
    width: 100%;
    text-align: center;
}
.form-col{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 45%;
    min-width: 250px;
    padding: 10px;
}
.form-col label, .form-col input, .form-large input, .form-large label{
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-large{
    display: flex;
    flex-direction: column;
    width: 95%;
    min-width: 250px;
    margin: auto;
    padding: 10px;
    padding-top: 0px;
}
.enter-button{
    display: flex;
    margin: auto;
    width: 95%;
    min-width: 250px;
    padding: 10px;
}
.enter-button input{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-width: 250px;
    margin: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
@media only screen and (max-width: 525px) {
    .enter-button, .form-large {
        flex-grow: 1;
        max-width: 250px;
    }
}
.hidden{
    visibility: hidden;
}
.danger{
    border: solid 2px red ;
}