.form-main-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
}
.hello-container{
    display: block;
    width: 100%;
    text-align: center;
}
.form-col{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 45%;
    min-width: 250px;
    padding: 10px;
}
.form-col label, .form-col input, .form-large input, .form-large label{
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-large{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    padding: 10px;
    padding-top: 0px;
}
.enter-button{
    display: flex;
    flex-grow: 2;
    margin: auto;
    width: 90%;
    padding: 10px;
}
.enter-button input{
    display: flex;
    flex-grow: 2;
    justify-content: center;
    align-content: center;
    width: 100%;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}
