#nav-bar-container{
    display: none;
}
@media only screen and (min-width: 768px) {
    #nav-bar-container{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    #nav-bar-container ul{
        display: flex;
        flex-direction: row;
        width: 100%;
        border-bottom: lightgray 2px solid;
    }
    #nav-bar-container li{
        padding: 15px 2px 10px 15px;
        color: lightsalmon;
        text-transform: uppercase;
        font-size: 16px;
    }
    #nav-bar-container li:hover{
        background-color: lavender;
    }
  }
